.links { /* 링크들을 상단 우측에 위치시킵니다. */
    position: absolute;
    top: 0;
    right: 0;
}

.link_text { /*공지사항,팁게시판,로그아웃,마이페이지 글자 크기*/
   font-size: 30px;
   margin-left: 5px;
   
}

#logoname{
    font-size: 50px;
    color: black;
    text-align: center;
    width: 50px;
    height: 100px;
}

img{
    border: 0.01cm inset black;
    display: block;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #404040;
}

li{
    list-style: none;
}

body header div ul.head li{
    float: left;
    width: 25%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    background: white;
}

body header div ul.head li a{
    display: block;
}

body header div ul.head li a:hover{
    background-color: #DBDBDB;
    color: black;
} /* 여기까지 메뉴바*/

div#menu.dropdown{
    font:bold 16px "malgun gothic";
	width : 130px;
	height: 100px;
	background: white;
	color:black;
	line-height: 50px; 
	text-align: center;
    margin-left:0%;

}

#menu > ul > li {
    float:left;
    width:300px;
    border: 0.01cm inset black;
}

#menu > ul > li > ul {
    width:300px;
    display:none;
    position: absolute;
    font-size:14px;
    background: white;
    border: 0.01cm inset black;
}

#menu > ul > li:hover > ul {
    display:block;
}

#menu > ul > li > ul > li:hover {
    background: black;
    }

#menu ul li:hover{
    background-color: black;
}

#menu > ul > li > a:hover{
    color:white;
}

#menu > ul > li > ul > li > a:hover {
    color:white;
}

div#board_area{
    margin-top: 0%;
    margin-left: 13%;
}

#board_area {
	width: 1400px;
	position: relative;
}

div#board_area{
    margin-top: 0px;
}

.list-table {
	margin-top: 40px;
}

.list-table thead th{
	height:50px;
	border-top:2px solid rgb(0, 0, 0);
	border-bottom:1px solid #CCC;
	font-weight: bold;
	font-size: 17px;
}
.list-table tbody td{
	text-align:center;
	padding:10px 0;
	border-bottom:1px solid #CCC; 
    height:20px;
	font-size: 14px 
}

#write_btn {
	position: absolute;
	margin-top:20px;
	right: 0;
}

#logo{
    background-color: #DBDBDB;
}

#logoname{
    background-color: #DBDBDB;
    color: white;
}

table.table2 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin: 20px 10px;
}

table.table2 tr {
    width: 50px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

table.table2 td {
    width: 100px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

#register_container{
    width: 380px; 
    height: 350px; 
    margin: auto;
    box-shadow: 0px 0px 20px #000;
    border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px;
    font-size: 30px;
}

#container{
    width: 400px; 
    height: 650px; 
    margin: auto;
    box-shadow: 0px 0px 20px #000;
    border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px;
}

div.register_container div input{
    margin-top: 20px;
    color:rgb(134, 96, 96);
    width: 50px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    border-color: gray;
    text-align: center;
}

#board_area2{
    margin-left: 30%;
}

table.tbodymargin{
	margin-left: 24%;
}